<%- include('partials/header') %>
<section class="vh-100"><form action="/account" method="POST" enctype="multipart/form-data">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-md-9 col-lg-7 col-xl-5">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-4">
              <div class="d-flex text-black align-items-center justify-content-center">
                
                <div class="col flex-shrink-0  " style="margin-right:3%;">
                  <img id="profileImg" src= <%= profileImage %> 
                    alt="check file spelling" class="rounded-circle"
                    style="width: 180px; height: 180px;   align-self: center;">
                     <div class="custom-file">
                        
                        <input type="file" id="file" class="custom-file-input" accept="image/png, image/jpg" name="file">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        
                     </div> 
                </div>
                <div class="flex-grow-1 ms-3">
                  <input type="text" name="nickname" placeholder="<%=nickname%>" maxlength="15" class="mb-1">
                </input>
                  <p class="mb-2 pb-1" ><b><%=username%></b>  </p>
                  <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                    style="background-color: #efefef;">
                    <div>
                      <p class="small text-muted mb-1">Articles</p>
                      <p class="mb-0"><%= articlesAmount %></p>
                    </div>
                    <div class="px-3">
                      <p class="small text-muted mb-1">Likes</p>
                      <p class="mb-0">0</p>
                    </div>
                    
                  </div>
                  <div class="d-flex pt-1">
                    <button type="submit" class="btn btn-outline-primary me-1 flex-grow-1"><i class="fa-solid fa-floppy-disk"></i> Save</button>
                    <a href="/booksFeed"><button type="button"  class="btn btn-primary flex-grow-1">Back to the club</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div></form>
      </section>
      <script>
        document.getElementById('file').onchange = function(event) {
          var profileImg = document.getElementById('profileImg');
    profileImg.src = URL.createObjectURL(event.target.files[0]);
    profileImg.onload = function() {
      URL.revokeObjectURL(profileImg.src);
    }
};
      </script>

  <%- include('partials/footer') %>